# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Environment Variables
.env

# Database & SQLite files
*.db
*.db-journal
*.db-wal
*.db-shm

# Node & Frontend
node_modules/
frontend/node_modules/
frontend/dist/
.env.local
.env.*.local

# IDE / Editor files
.vscode/
.idea/
*.swp

